#intro{
    margin-top: 30px;
    text-align: center;
}

#quizSection{
    margin: auto;
    text-align: center;
}

.items{
    margin: 20px 0 0 400px;
    display: block;
}

.countdown{
    margin: -20px 150px 0 0;
    float: right;
}

.Remove{
    display: none;
}
